__pycache__/
*.pyc

# ignora a pasta de ambiente virtual
/venv

# ignora o pycache
/api_drf/api/__pycache__
/api_drf/api/migrations/__pycache__
/api_drf/api_drf/__pycache__
/api_flask/scripts/__pycache__
/api_flask/tests/__pycache__
/api_flask/tests/.pytest_cache

# ignora o banco de dados gerado pelo Django
/api_drf/db.sqlite3